#datetime {
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: #28b5f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}